.checkoutProduct{
    display:flex;
    /* flex-direction: column; */
    width:100%;
    margin: 20px 0px;
    background-color: none !important;
    
}
.checkoutProduct_info{
    padding-left: 20px;
}
.checkoutProduct_image{
    object-fit: contain;
    width: 180px;
    height: 200px;
}
.checkoutProduct_title{
    font-size: 17px;
    font-weight: 800;
}
.checkoutProduct_rating{
    display:flex;
}
.checkoutProduct_info > button{
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: brown;
    color:black;
}
